node_modules/
dist/
.turbo/
*.log
.env
.env.local
.env.*
!/.env.production
.DS_Store
data/
*.db
*.db-journal
.vite/
.storybook/
coverage/
.git/
.github/
*.tsbuildinfo
*.d.ts
!packages/**/*.d.ts
!apps/web/src/api/schema.d.ts
README.md
node_modules.bak
scripts/
docs/